:root {
  --accent: hsl(209.88deg 100% 50%);
  --text-light: rgba(255, 255, 255, 0.8);
}

.cart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1.5rem;
  padding: 0 5rem;
}

.cart-items-list {
  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 0.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.item-img {
  height: 130px;
  width: 120px;
  margin: 1.2rem;
}

.item-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* color: white; */
}

.item-details h3,
.item-details p {
  margin-bottom: 0.8rem;
}

.item-details h3 a {
  text-decoration: none;
}

.item-details h3 a:hover {
  text-decoration: underline;
}

.item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-quantity button {
  padding: 7px 14px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  /* color: white; */
}

.decrement-btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.increment-btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.delete-item-btn {
  margin: 0 20px;
  border-radius: 4px;
  padding: 7px 20px;
}

.delete-item-btn i {
  color: red;
}

.display-quantity {
  font-size: 14px;
  font-weight: bold;
  /* color: white; */
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 7px 20px;
}

.heading {
  margin: 4.8rem 0 1.9rem 4.8rem;
  /* color: white; */
}

.grid-order-summary-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.1rem 0;
}

.grid-total-order-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.1rem 0;
}

.cart-order-summary-details {
  margin: 1.5rem 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.grid-order-summary-details-text-format{
    color: hsl(215deg 20.22% 65.1%);
}

.cart-order-summary {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  height: 370px;
}

.order-summary-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.total-order-summary-container {
  margin: 0px 2.5rem;
  font-size: 20px;
  font-weight: 600;
}

.order-checkout {
  margin: 0.8rem 2.5rem;
  display: flex;
  flex-direction: column;

}
.order-checkout a{
  width: 100%;
}

.checkout-btn {
  background-color: var(--accent);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  width: 100%;
}


.continue-shopping-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 0.8rem;
}

.item-quantity button:hover,
.checkout-btn:hover,
.continue-shopping-btn-two:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.continue-shopping-btn a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.continue-shopping-btn a:hover {
  color: white;
}


.zero-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;


}

.zero-item-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.zero-item-msg p {
  color: hsl(215deg 20.22% 65.1%);
  font-size: 17px;
  margin-bottom: 2.2rem;
}

.zero-item-msg h2 {
  margin-bottom: 1.5rem;
}

.continue-shopping-btn-two {
  background-color: var(--accent);
  border: none;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .cart-item {
    grid-template-columns: 1fr 2fr;
    column-gap: 0;

  }

  .container {
    margin: 1.3rem;
  }

  .heading {
    margin-top: 7rem;
  }

  .item-img {
    width: auto;
    height: auto;
  }

  .item-img img {
    width: 100%;
  }

  .item-details {
    margin: 1rem 0;
  }

  .item-quantity {
    margin: 1.2rem;
  }
}
@media (max-width: 900px) {
  .cart-container{
    padding: 0;
  }
}
@media (max-width: 700px) {
  .cart-container {
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 20px;

    margin: 0;
    padding: 0;
  }

  .container {
    margin: 1.3rem;
  }

  .heading {
    margin-top: 7rem;
  }

  .cart-item {
    grid-template-columns: 1fr;
  }

  .item-img {
    width: auto;
    height: auto;
  }

  .item-img img {
    width: 100%;
  }

  .item-details {
    margin: 1rem;
  }

  .item-quantity {
    margin: 1.2rem;
  }
}